{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container my-3">
    <section class="about-us">
        <div class="about">
          <img src="https://source.unsplash.com/900x900/?dumb" class="pic">
          <div class="text">
            <h2>SilentSync-AI</h2>
            {% comment %} <h5>Front-end Developer & <span>Designer</span></h5> {% endcomment %}
              <p>Welcome to Silent-Sync-AI Project where innovation meets inclusivity. Our journey began with a simple yet powerful <strong>idea</strong> to create technology that empowers and connects individuals, breaking down communication barriers and fostering a more inclusive world.
                At Vishwakarma Institute Of Information Technology - Pune, we believe in the transformative power of technology to make a positive impact on people's lives. Our team of dedicated professionals is driven by a shared passion for creating solutions that matter. We strive to be at the forefront of innovation, pushing boundaries to bring about positive change.
                <br>
                <Strong>Our Mission</Strong>
                <br>
                To harness the potential of technology to enhance accessibility and improve the lives of individuals facing communication challenges. We are committed to creating solutions that promote inclusivity, bridging gaps and fostering a world where everyone's voice is heard.</p>
            <div class="data">
            <a href="#" class="btn btn-primary">Hire Me</a>
            </div>
          </div>
        </div>
    </section>
</div>
{% endblock body %}