{% extends "base.html" %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block body %}
<div class="container mb-6">
    <section>
        <div class="row">
          <h2 class="section-heading">Our Services</h2>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                {% comment %} <i class="fas fa-hammer"></i> {% endcomment %}
              </div>
              <h3>Gesture Recognition Technology</h3>
              <p>
                Develop and provide a robust gesture recognition system capable of understanding various hand movements and converting them into meaningful signals.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fa-solid fa-volume"></i>
              </div>
              <h3>Speech Synthesis (Text-to-Speech)</h3>
              <p>
                Implement a high-quality Text-to-Speech (TTS) system that converts the interpreted gestures into spoken Marathi. 
                Ensure that the speech output is natural and easily understandable.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-brush"></i>
              </div>
              <h3>Educational Resources</h3>
              <p>
                Develop educational resources and training materials to help users learn and adapt to the gesture-based communication system. 
                This may include tutorials, guides, and online courses.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-brush"></i>
              </div>
              <h3>Custom Solutions for Specific Needs</h3>
              <p>
                Provide custom solutions for specific industries or individuals with unique requirements, such as healthcare, education, 
                or assistive technology for people with disabilities.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-brush"></i>
              </div>
              <h3>Community Engagement and Support</h3>
              <p>
                Establish a community platform where users can share their experiences, provide feedback, and connect with others using the same technology.
                Offer support services to address user queries and issues.
              </p>
            </div>
          </div>
          
          
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-plug"></i>
              </div>
              <h3>User Interface Development</h3>
              <p>
                Design an intuitive and user-friendly interface for interacting with the system. 
                This may include a dedicated device, mobile application, or web interface.
              </p>
            </div>
          </div>
        </div>

      </section>
    </div>
<div class="div-down my-5">.</div>
{% endblock body %}